:root {
  --box-bg-color: burlywood;
}
.level-buttons {
  display: inline-grid;
}
.menu-buttons {
  display: inline-flex;
}
.control-buttons {
  padding-top: 10px;
}
.level {
  display: inline-grid;
}

.level-row {
  display: inline-flex;
}

.level-cell {
  border: 1px solid;
  width: 40px;
  height: 40px;
}

.level-cell :first-child {
  width: 90%;
  height: 90%;
  margin: 5%;
}

.level-cell .type-_ {
  background-color: #fff;
}

.level-cell .type-w {
  background: brown;
}

.level-cell .type-p {
  background: gray;
}

/*мяч*/
.level-cell .type-y {
  display: block;
  background-color: red;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
  background-image: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
  background-image: -o-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
  background-image: -ms-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
}

/*ящик*/
.level-cell-b {
  background: red;
}
.level-cell .type-b {
  background: var(--box-bg-color);
}

.level-cell .type-y,
.level-cell .type-Y {
  display: block;
  background-color: red;
  border-radius: 50%;
  box-shadow: inset -25px -25px 40px rgba(0, 0, 0, 0.5);
  background-image: -webkit-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
  background-image: -moz-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
  background-image: -o-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
  background-image: -ms-linear-gradient(
    -45deg,
    rgba(255, 255, 220, 0.2) 0%,
    transparent 100%
  );
}

.level-cell .type-a {
  background: green;
}
